@model BeautyForum.ViewModels.PostPageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.ID">Add New Post</a>
</p>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forum.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forum.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Forum.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forum.Description)
        </dd>
    </dl>
</div>


<h4>Posts</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P.Massage)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Massage)
                </td>


                <td>
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Forum.ID">Edit</a> |*@
    <a asp-action="Index">Back to Forums List</a>
</div>